<a href="https://colab.research.google.com/github/Abhijit-Mandal/Assignment/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:


from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes (2).csv

In [20]:
import pandas as pd
dataset=pd.read_csv('diabetes (2).csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [23]:
y = dataset[8]

KeyError: ignored

In [24]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [25]:
x = dataset[0:7]

In [26]:
x

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1
5  5  116  74   0    0  25.6  0.201  30  0
6  3   78  50  32   88  31.0  0.248  26  1

In [31]:
dataset.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')

In [34]:
x

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1
5  5  116  74   0    0  25.6  0.201  30  0
6  3   78  50  32   88  31.0  0.248  26  1

In [37]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [38]:
model = Sequential()

In [39]:
model

In [40]:
model.add( Dense(units=6, input_dim=8, activation='relu'))

In [41]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 54

=================================================================
Total params: 54
Trainable params: 54
Non-trainable params: 0
_________________________________________________________________

In [42]:
model.add( Dense(units=4, activation='relu'))

In [44]:
model.add( Dense(units=1, activation='sigmoid'))